/* ******************************* */
/* GENERAL */
/* ******************************* */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #7b879d;
  background-color: #d6e2f0;
}

main {
  height: 100vh;

  display: grid;
  align-items: center;
  justify-content: center;
}

/* ******************************* */
/* QR CARD */
/* ******************************* */

.qr-card {
  background-color: #fff;
  max-width: 32rem;
  padding: 1.6rem;
  border-radius: 18px;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.qr-card img {
  width: 100%;
  border-radius: 11px;
}

.qr-content {
  padding: 0 1.2rem 1.6rem 1.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
}

h1 {
  font-size: 2.25rem;
  color: #1f3251;
  font-weight: 700;
}

p {
  font-size: 1.5rem;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translate(-50%, 0);
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
